// Colors
$blue-dark-color:       #015291;
$blue-color:            #017bc8;
$blue-light-color:      lighten($blue-color, 30%);
$blue-lighter-color:    lighten($blue-color, 40%);

$green-color:           #01c863;

$yellow-color:          #e2df00;