{% extends '_base.twig' %}

{% block content %}
    <h1>Studievereniging 'Hello World' <small>Zoekt het logo voor de studievereniging!</small></h1>
    <p>Naar welk logo gaat jouw voorkeur uit? Klik op jouw favoriete logo om te stemmen.</p>
    <p>Er zijn tot nu toe <strong>{[{ total }]}</strong> stemmen uitgebracht!</p>

    <!-- Vote items -->
    <div id="vote-items" ng-show="state == 'vote'">

        <!-- E-mail form -->
        <form id="email-form" class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="email">E-mail</label>
                <div class="input-group">
                    <div class="input-group-addon">@</div>
                    <input type="text" class="form-control" id="email" ng-model="email" placeholder="E-mail">
                </div>
            </div>
        </form>

        <!-- Vote tiles -->
        <div id="vote-tiles">
            <div class="row">
                <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="vote-tile vote-tile-orange" ng-click="vote(1)">
                        <div class="vote-tile-inner">
                            <img src="img/logo-1.png" alt="Logo 1">
                        </div>
                    </div>
                </div>

                <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="vote-tile vote-tile-green" ng-click="vote(2)">
                        <div class="vote-tile-inner">
                            <img src="img/logo-2.png" alt="Logo 2">
                        </div>
                    </div>
                </div>

                <div class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="vote-tile vote-tile-yellow" ng-click="vote(3)">
                        <div class="vote-tile-inner">
                            <img src="img/logo-3.png" alt="Logo 3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Statistics -->
    <div id="statistics" ng-show="state == 'statistics'">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="statistics-wrapper">
                    <div class="statistics-wrapper-inner">
                        <div id="statistics-chart">
                            <h3>Uitgebrachte stemmen</h3>
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="chartData" chart-labels="chartLabels" chart-colours="['#ee7a00', '#01c863', '#ffcc00']" chart-legend="true"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}